body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar-right {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100vh;
  background: rgba(24, 24, 24, 0.6);
  border-radius: 0.5rem;
}

.sidebar-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  margin-bottom: 0.125rem;
  max-height: 100%;
}

.sidebar-left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  height: 100vh;
  min-width: 16rem;

  display: inline-block;
  overflow: auto;
}

.listbox-sorter {
  width: 100%;
}

.p-listbox {
  background: rgba(24, 24, 24, 0.6);
}

.p-listbox .p-listbox-header {
  padding: 0.125rem;
  background: transparent;
}

.p-listbox .p-listbox-list {
  padding: 0;
}

.p-listbox .p-listbox-list .p-listbox-item {
  padding: 0.125rem 0.25rem;
  text-align: start;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  background: rgba(0, 0, 0, 0.25);
}

.p-inputtext {
  padding: 0.125rem;
  background: rgba(0, 0, 0, 0.6);
}

.lvdTable {
  padding-left: 0.125rem;
  height: 100%;
  width: auto;
}

.lvdTable-listbox {
  padding: 0.5rem;
  height: 100%;
}

.p-datatable {
  height: 100%;
}

.p-datatable-wrapper {
  height: 100%;
}

.p-datatable-table {
  max-height: 100%;
}

.p-datatable-tbody {
  max-height: 100%;
}

.p-selectbutton .p-button {
  background: rgba(24, 24, 24, 0.8);
  padding: 0.2rem 0.6rem;
  text-align: center;
  width: 100%;
}

.p-selectbutton .p-button.p-highlight {
  background: #2dd4bf;
}

.p-dropdown {
  background: rgba(0, 0, 0, 0.6);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  background: rgba(64, 64, 64, 0.6);
  padding: 0.5rem 0.25rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.125rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: rgba(0, 0, 0, 0.6);
}

.p-dropdown-panel {
  background: rgba(24, 24, 24, 1);
}

.p-dropdown-items-wrapper {
  max-height: 50vh !important;
}

.p-dropdown-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 1 auto;
  width: 0;
  text-overflow: ellipsis;
  cursor: pointer;
}

.p-dropdown .p-dropdown-trigger {
  width: auto;
}

.p-dropdown .p-dropdown-trigger svg.p-icon {
  margin: 0.125rem;
}

/* .p-checkbox .p-checkbox-box {
  background: rgba(0, 0, 0, 0.6);
} */

.p-checkbox .p-checkbox-box.p-highlight {
  background: #2dd4bf;
}

.p-button.p-button-icon-only {
  width: auto;
}

.p-panel .p-panel-header .p-panel-header-icon {
  width: auto;
  height: auto;
}

.p-panel.p-panel-toggleable .p-panel-header {
  padding: 0.125rem 0.25rem;
}

.p-panel .p-panel-content {
  padding: 0.125rem 0.25rem;
}

.p-inputnumber {
  padding: 0.125rem 0.25rem;
}

.p-inputnumber-input {
  width: 4rem;
}

.font-small {
  font-size: small;
}

.p-icon {
  width: auto;
  height: auto;
}

.p-panel {
  background: rgba(0, 0, 0, 0.6);
}

.p-panel .p-panel-header {
  background: rgba(0, 0, 0, 0.6);
  min-width: 14rem;
  min-height: 2.75rem;
  padding: 0.125rem 0.25rem;
}

.p-panel .p-panel-content {
  background: rgba(24, 24, 24, 0.6);
}
